@page "/Details/{Id}"
@inject IItemData itemData
@inject NavigationManager navManager

<h1 class="page-heading text-uppercase mb-4">Item Details</h1>

<div class="row justify-content-center detail-form">
    <div class="col-xl-8 col-lg-10 form-layout">
        <div class="close-button-section">
            <button class="btn btn-close" @onclick="ClosePage"></button>
        </div>
        @if (item is not null)
        {
            <div class="item-detail-text">
                <div class="fw-bold mb-2 item-detail-item">@item.Title</div>
                <div class="mb-2 item-detail-author">@item.Author.DisplayName</div>
                <div class="mb-2 item-detail-status">@item.ItemStatus.StatusName</div>
                <div class="mb-2">@item.Description</div>
                <div class="item-detail-date">
                    <div>@item.DateCreated.ToString("dd.MM.yyyy")</div>
                </div>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; }

    private ItemModel item;

    protected async override Task OnInitializedAsync()
    {
        item = await itemData.GetItem(Id);
    }

    private void ClosePage()
    {
        navManager.NavigateTo("/");
    }
}
